/target

# Ignore the tags file
tags
# General Ignore Rules for logs and temporary files
# Ignore all files ending with .log
*.log

config.toml

# Ignore all files ending with .txt
*.txt

# Ignore all outputs
*.json

# Ignore specific log directories
logs/
tmp/
temp/

# Ignore files within specific directories
debug/*.log

error.log
server.log

# --- Exceptions ---
docs/*.txt
!docs/README.txt



# Data
data/

# Grammar
*.bnf
